
*.v.out

/RTL/build
Quartus/db/*.tdf
/sim_build


Thumbs.db
.DS_Store

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

### KiCad Patch ###
rescue-backup/

*.tsv
bom/

# Gerber export output
out/


/Quartus/output_files
/RTL/cocotb/__pycache__/*.pyc
*.stp

RTL/cocotb/FIFO/__pycache__/cocotb_fifo_3bit_cntr.cpython-311-pytest-7.4.1.pyc
RTL/cocotb/FIFO/__pycache__/cocotb_fifo_full_empty_ctr.cpython-311-pytest-7.4.1.pyc
RTL/cocotb/FIFO/__pycache__/cocotb_fifo.cpython-311-pytest-7.4.1.pyc
RTL/cocotb/FIFO/__pycache__/test_fifo.cpython-311-pytest-7.4.1.pyc
RTL/cocotb/Registers/__pycache__/cocotb_registers_cntr.cpython-311-pytest-7.4.1.pyc
RTL/cocotb/Registers/__pycache__/cocotb_registers_istr.cpython-311-pytest-7.4.1.pyc
RTL/cocotb/Registers/__pycache__/cocotb_registers_term.cpython-311-pytest-7.4.1.pyc
RTL/cocotb/Registers/__pycache__/cocotb_registers.cpython-311-pytest-7.4.1.pyc
RTL/cocotb/Registers/__pycache__/test_registers.cpython-311-pytest-7.4.1.pyc
RTL/cocotb/FIFO/__pycache__/cocotb_fifo_3bit_cntr.cpython-311-pytest-7.4.1.pyc
RTL/cocotb/FIFO/__pycache__/cocotb_fifo_full_empty_ctr.cpython-311-pytest-7.4.1.pyc
RTL/cocotb/FIFO/__pycache__/cocotb_fifo.cpython-311-pytest-7.4.1.pyc
RTL/cocotb/FIFO/__pycache__/test_fifo.cpython-311-pytest-7.4.1.pyc
__pycache__
