
*.v.out
*.vcd
/Eagle/SDMAC.s#*
/Eagle/SDMAC.b#*
/RTL/build
Docs/Commodore/SDMAC Partial Schmatics/sdmac_cpu01.pdf
Docs/Commodore/SDMAC Partial Schmatics/sdmac_fifo01.pdf
Docs/Commodore/SDMAC Partial Schmatics/sdmac_scsi01.pdf
Docs/Commodore/SDMAC Partial Schmatics/sdmac01.pdf
Docs/Commodore/SDMAC Partial Schmatics/sdmac02.pdf
Docs/Commodore/SDMAC Partial Schmatics/sdmac03.pdf
